<h1>
   This is the home page!!!
</h1>

<%= link_to 'About', about_path %>

<!DOCTYPE html>
<html>
    
<head>
    <title>Song</title>
</head>

<body>
    
    <h1>Song Title: <a href="https://open.spotify.com/album/2bBkpbeGxTx7IQtDuOhmIg">Coqueta</a></h1>
    
    <h2>Artist</h2>
        <ul>
            <li>Ghetto Kids</li>
            <li>Brunog</li> 
        </ul>
    <h2>Lyrics</h2>
        <p>Hay cosas que el dinero no puede comprar.<br />
        Entre una de ellas esta tu sonrisa.<br />
        Eso de mirarla me llena la vida. <br />
        Tu felicidad es mi felicidad.<br />
        <br /><br />
        Lo que ves es lo que es.<br />
        Yo sin tuy voz no puedo ver.<br />
        Tus imperfecciones te vuelven perfecta.<br />
        Cuando te molestas tu te ves coquesta.<br />
        <br />
        Lo que ves es lo que es.<br />
        Yo sin tuy voz no puedo ver.<br />
        Contigo mil anos pasan como un rayo.<br />
        </p>
    <div>
        <h2>Cute Things</h2>
        <img src="http://www.petguide.com/wp-content/uploads/2014/10/cutest-dog-breeds-main.jpg" />
        <div class="tenor-gif-embed" data-postid="8742326" data-share-method="host" data-width="100%" data-aspect-ratio="1.0050251256281406"><a href="https://tenor.com/view/puppy-dog-cute-head-tilt-gif-8742326">Puppy Dog GIF</a> from <a href="https://tenor.com/search/puppy-gifs">Puppy GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</body>
</html>